<mat-accordion>
  <mat-expansion-panel *ngFor="let item of menu; index as i"
                       (opened)="selectedMenu = item"
                       (closed)="selectedMenu = null">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{item.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{item.description}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!--<mat-card *ngFor="let offering of item.offerings">-->
    <!--{{offering.name}} {{offering.description}}-->
    <!--</mat-card>-->

    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile *ngFor="let offering of item.offerings">
        {{offering.name}} - {{offering.description}} TODO go to /offerings/selectedMenu.id
      </mat-grid-tile>
    </mat-grid-list>

    <!--<mat-list>-->
    <!--<mat-list-item *ngFor="let offering of item.offerings">{{offering.name}} {{offering.description}}</mat-list-item>-->
    <!--</mat-list>-->

  </mat-expansion-panel>
</mat-accordion>


{{menu | json}}
