<mat-accordion>
  <mat-expansion-panel *ngFor="let item of menu;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{item.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{item.description}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile *ngFor="let offering of item.offerings" [routerLink]="['/offering', offering.id]">
        {{offering.name}} - {{offering.description}}
      </mat-grid-tile>
    </mat-grid-list>

  </mat-expansion-panel>
</mat-accordion>
