
<!--<p>search works!</p>-->
<html>
<body>
<title>Search in menu</title>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Satisfy" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fondamento" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Italianno" rel="stylesheet">
  <link href="search.component.css" rel="stylesheet">

</head>

<div class="header"><h2>StarBox</h2>
<h4>where coffee serves you right!</h4></div>

<div class="inputOptions">

<center><form action="POST">
<title>Search in menu</title>

<div class="header"><h2>StarBox</h2>
<h4>where coffee serves you right!</h4></div>

<div class="inputOptions">

<form action="POST">

    <span><input type="radio" name="matchOption" value="matchAll" id="all">Match <b>ALL</b> of the following options.</span><br>
  <span><input type="radio" name="matchOption" value="matchAny" id="any">Match <b>ANY</b> of the following options.</span><br><br>

  <div class ="data">
    <span>
      <label>Tags:</label>
      <input type="text" name="tags">
    </span>

    <span>
      <label>Ingredients:</label>
      <input type="text" name="ingredients">
    </span>

    <span>
      <label>Name:</label>
      <input type="text" name="name">
    </span>

    <span>
      <label>Type:</label>
      <input type="text" name="type">
    </span>

    <button>Search</button>
  </div>
    <!--<input type="search" id="mySearch" name="q">-->



</form>

</div>



</form>
</center>
</div>
</body>
</html>
