<!--<p>search works!</p>-->

<div class="inputOptions">

<form action="">
  <div>
      <input type="radio" name="matchOption" value="matchAll">Match all of the following options.<br>
      <input type="radio" name="matchOption" value="matchAny">Match any of the following options.<br><br>

    <label>Tags:</label>
    <input type="text" name="tags"><br>

    <label>Ingredients:</label>
    <input type="text" name="ingredients"><br>

    <label>Name:</label>
    <input type="text" name="name"><br>

    <label>Type:</label>
    <input type="text" name="type"><br>

    <input type="search" id="mySearch" name="q">
    <button>Search</button>
  </div>
</form>

</div>
